PRIMER_THERMODYNAMIC_PARAMETERS_PATH=/4_disk/softwares/softs/public/primer3/primer3-2.4.0/src/primer3_config/
SEQUENCE_ID=test
SEQUENCE_TEMPLATE=ATCACTGGGCAGCATGTGGCACCATCTCACAATTGCCAGTTAACGTCTTCCTTCTCTCTCTGTCATAGGGACTCTGGATCCCAGAAGGTGAGAAAGTTAAAATTCCCGTCGCTATCAAGGAATTAAGAGAAGCAACATCTCCGAAAGCCAACAAGGAAATCCTCGATGTGAGTTTCTGCTTTGCTGTGTGGGGGTCCATGGCTCTGAACCTCAGGCCCACCTTTTCTCATGTCTGGCAGCT
SEQUENCE_TARGET=120,1
PRIMER_TASK=pick_detection_primers
PRIMER_PICK_LEFT_PRIMER=1
PRIMER_PICK_INTERNAL_OLIGO=0
PRIMER_PICK_RIGHT_PRIMER=1
PRIMER_OPT_SIZE=22
PRIMER_MIN_SIZE=18
PRIMER_MAX_SIZE=25
PRIMER_PRODUCT_SIZE_RANGE=80-120
PRIMER_MAX_NS_ACCEPTED=1
PRIMER_EXPLAIN_FLAG=1 
PRIMER_NUM_RETURN=100
PRIMER_MIN_TM=0
PRIMER_OPT_TM=60
PRIMER_MAX_TM=100
=
